body {
    font-family: Helvetica;
}

#header_table {
    color: white;
    margin-top: 5%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0%;
    border: 2px solid #2c2c2c;
    background: #2c2c2c;
    padding: 3px;
    width: 90%;
    margin-left: 5%;
    margin-right: auto;
}

#app_table {
    color: white;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border: 2px solid #2c2c2c;
    background: #2c2c2c;
    padding: 20px;
    width: 90%;
    border: 0px solid #2c2c2c;
    margin-left: auto;
    margin-right: auto;
}

th,
td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #414141;
}

tr:nth-child(odd) {
    background-color: #2c2c2c;
}

.button {
    -webkit-appearance: none;
    color: black;
    text-align: center;
    margin: auto;
    background: white;
    border-radius: 10px;
    border: 2px solid white;
    border-color: white;
    width: 100px;
    height: 30px;
    font-weight: bolder;
    font-size: 5mm;
    margin-top: 10px;
}

#add_row {
    margin-left: 0%;
}

#header_table th:nth-child(1),
#header_table td:nth-child(2) {
    text-align: right;
}